<md-card>
  <md-card-content>

<img src="../assets/img/cs18.jpg" alt="CS18" width="100%">

<p>Durante los últimos 10 años, los colegiales del Colegio Mayor Ayete han organizado el Concierto Solidario de los Jóvenes. La iniciativa, que aúna cultura y solidaridad, ha servido para ayudar a personas sin hogar, niños en situación de exclusión y refugiados.</p>

<p>El 23 de febrero tendrá lugar en el Kursaal la edición de 2018. Los beneficios se destinarán a Cáritas para la ayuda a personas sin hogar.</p>

<p><b>La entrada al concierto incluye servicio de autobuses gratuito desde Pamplona.</b> Para solicitar plaza hay que escribir a info@conciertosolidario.org</p>

<h3 class="md-headline">¿Qué proponemos?</h3>

<ul>
<li>18:00 Salida a San Sebastián desde el campus <span class="md-caption">(hora por confirmar)</span></li>
<li>20:00 Concierto Solidario de los Jóvenes</li>
<li>22:00 Cena de pintxos en la parte vieja de San Sebastián <span class="md-caption">(no incluida en la entrada).</span></li>
<li>00:30 Vuelta a Pamplona  <span class="md-caption">(hora por confirmar)</span></li>
</ul>

<p>Pocas veces se presenta la oportunidad de ayudar a los demás disfrutando de un concierto del Orfeón Donostiarra y Musikene y descubrir San Sebastián.</p>

<h3 class="md-title" style="text-align: center;">¿Te lo vas a perder?</h3>

<div layout="row" layout-align="center center">
  <a href="http://www.conciertosolidario.org" target="_blank"><md-button class="md-raised md-primary">Más información</md-button></a>
  <a href="https://kursaal.entradas.com/webshop/webticket/shop?event=377" target="_blank"><md-button class="md-raised md-warn">Comprar entrada</md-button></a>
</div>

  </md-card-content>
</md-card>