<md-card>
  <md-card-content>
    <md-button ng-if="$root.userData.lockMeals == true" id="MealsButton" class="md-raised md-warn" aria-label="Actualizar" ng-click="meals.confirmDate()">
      <span>Actualizar fecha</span>
    </md-button>
    <md-datepicker ng-model="meals.pickDate" ng-change="meals.getMeals(meals.pickDate)" md-placeholder="Fecha"></md-datepicker>
    <md-list class="md-2-line">
      <md-subheader class="md-no-sticky">Comidas</md-subheader>
      <md-list-item>
      <div class="md-list-item-text">
            <p>
            Desayunos: {{meals.numberOfBreakfasts}} Comidas: {{meals.numberOfLunches}} Cenas: {{meals.numberOfDinners}}
            </p>
            </div>
      </md-list-item>

      <md-list-item style="margin-top: 10px;" class="md-2-line" ng-repeat="(key, value) in meals.requests| groupBy: 'change' as requests">
          <div class="md-list-item-text">
            <h3>{{ meals.possibleRequests[key] }}: <b>{{requests[key].length}}</b></h3>
            <p ng-repeat="user in value | orderBy:'id'">{{ user.name }}, <b>{{ user.id }} </b><span ng-if="user.hasDiet === 'true' && !meals.checkInvites(key)">(Dieta)</span> <span ng-if="meals.checkInvites(key)"> {{user.numInvites}} invitadas</span></p>
          </div>
          <br>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-card-content>
</md-card>