<md-card>
  <md-card-content>
    <img src="../assets/img/logoBN.jpg" alt="Logo de Ayete">
    <h1 class="md-display-1">Colegio Mayor Ayete</h1>

    <div class="logInGroup">
      <p class="md-subhead" md-colors="{color:'warn'}"> ERROR: No está conectado a internet</p>
      <md-button ng-click="#" class="md-raised md-warn" ng-disabled="true" aria-label="Acceder">
        <span class="fa fa-google-plus"></span> Iniciar Sesión</md-button>
      </md-button>
    </div>
    
  </md-card-content>
</md-card>