<md-card>
    <md-card-content ng-init="settings.loadSettingsData()">

        <md-list>
            <md-list-item class="md-2-line" ng-click="settings.gotoUsersList()">
                <div class="md-list-item-text" layout="column">
                    <h3>Ver lista de usuarios</h3>
                </div>
            </md-list-item>

            <md-list-item class="noright md-2-line" ng-click="settings.gotoAddUser()">
                <div class="md-list-item-text" layout="column">
                    <h3>Añadir nuevo usuario</h3>
                </div>
            </md-list-item>

            <md-list-item class="noright md-2-line" hide show-gt-sm ng-click="settings.showUploadUsersDialog()">
                <div class="md-list-item-text" layout="column">
                    <h3>Añadir usuarios desde archivo</h3>
                </div>
            </md-list-item>

            <md-list-item class="noright md-2-line" hide show-gt-sm ng-click="settings.showUploadBooksDialog()">
                <div class="md-list-item-text" layout="column">
                    <h3>Añadir libros desde archivo</h3>
                </div>
            </md-list-item>

            <md-list-item ng-click="settings.openDial(settings.dateBack,'LastDate', $event)" class="noright md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h3>Volver atrás la última fecha de comidas</h3>
                    <p>La última fecha actual es el {{settings.settingsData.lastMealsDate | date:'dd/MM/yyyy'}}</p>
                </div>
            </md-list-item>

            <md-list-item ng-click="settings.openDial(settings.clearAll,'LastDate', $event)" class="noright md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h3>Resetear la última fecha de comidas</h3>
                    <p>La última fecha actual es el {{settings.settingsData.lastMealsDate | date:'dd/MM/yyyy'}}</p>
                </div>
            </md-list-item>

            <md-list-item ng-click="settings.openDial(settings.clearAll,'Meal', $event)" class="noright md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h3>Borrar todas las comidas</h3>
                    <p>Hay {{settings.settingsData.mealsInDB}} comidas registradas en la base de datos</p>
                </div>
            </md-list-item>

            <md-list-item ng-click="settings.openDial(settings.clearAll,'User', $event)" class="noright md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h3>Borrar todos los usuarios</h3>
                    <p>Hay {{settings.settingsData.usersInDB}} usuarios registrados en la base de datos</p>
                </div>
            </md-list-item>

            <md-list-item ng-click="settings.openDial(settings.clearAll,'Book', $event)" class="noright md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h3>Borrar todos los libros</h3>
                    <p>Hay {{settings.settingsData.booksInDB}} libros registrados en la base de datos</p>
                </div>
            </md-list-item>

            <!--

                Unused features

            <md-list-item ng-click="settings.openDial(settings.clearAll,'Sport', $event)" class="noright md-2-line">
                <div class="md-list-item-text" layout="column">
                    <h3>Borrar todos los partidos</h3>
                    <p>Hay {{settings.settingsData.matchesInDB}} partidos registrados en la base de datos</p>
                </div>
            </md-list-item>

            -->

        </md-list>
    </md-card-content>
</md-card>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="uploadBooksDialog">
      <md-dialog layout-padding>
        <div ng-show="!settings.uploadDone">
            <h2>Añadir libros</h2>
            <p>
              Seleccione un archivo .csv con el formato adecuado en su ordernador.
            </p>
            <div layout="row">
                <span flex></span>
                <input class="ng-hide" id="input-file-id" type="file" custom-on-change="settings.processCSVUsers"/>
                <label flex for="input-file-id" class="md-button md-raised md-hue-2 md-primary">Abrir</label>
                <span flex></span>                
            </div>
            <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="settings.hideDial()">
                Cerrar
              </md-button>
            </md-dialog-actions> 
        </div>
        <div ng-show="settings.uploadDone">
            <div ng-show="settings.processing">
                <h2>Añadiendo libros</h2>
                <p>
                  Por favor, espere mientras se procesa el archivo
                </p>
                <div layout="row" layout-align="space-around">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
            <div ng-show="!settings.processing && !settings.errors">
                <h2>Añadir libros</h2>
                <p>
                  Se han añadido {{settings.newBooksNumber}} libros a la base de datos.
                </p>
                <md-dialog-actions layout="row">
                  <span flex></span>
                  <md-button ng-click="settings.hideDial()">
                   Aceptar
                  </md-button>
                </md-dialog-actions> 
            </div>
            <div ng-show="!settings.processing && settings.errors">
            <h2>Añadir libros</h2>
            <p>
              Se ha producido un error, no se han añadido los nuevos libros
            </p>
            </div>
        </div>
      </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="uploadUsersDialog">
      <md-dialog layout-padding>
        <div ng-show="!settings.uploadDone">
            <h2>Añadir usuarios</h2>
            <p>
              Seleccione un archivo .csv con el formato adecuado en su ordernador.
            </p>
            <div layout="row">
                <span flex></span>
                <input class="ng-hide" id="input-file-id" type="file" custom-on-change="settings.processCSVBooks"/>
                <label flex for="input-file-id" class="md-button md-raised md-hue-2 md-primary">Abrir</label>
                <span flex></span>                
            </div>
            <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="settings.hideDial()">
                Cerrar
              </md-button>
            </md-dialog-actions> 
        </div>
        <div ng-show="settings.uploadDone">
            <div ng-show="settings.processing">
                <h2>Añadiendo usuarios</h2>
                <p>
                  Por favor, espere mientras se procesa el archivo
                </p>
                <div layout="row" layout-align="space-around">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
            <div ng-show="!settings.processing && !settings.errors">
                <h2>Añadir usuarios</h2>
                <p>
                  Se han añadido {{settings.newUsersNumber}} usuarios a la base de datos.
                </p>
                <md-dialog-actions layout="row">
                  <span flex></span>
                  <md-button ng-click="settings.hideDial()">
                   Aceptar
                  </md-button>
                </md-dialog-actions> 
            </div>
            <div ng-show="!settings.processing && settings.errors">
            <h2>Añadir usuarios</h2>
            <p>
              Se ha producido un error, no se han añadido los nuevos usuarios
            </p>
            </div>
        </div>
      </md-dialog>
    </div>
</div>